{% extends 'base-back.html.twig' %}

{% block title %}tableau de bord {% endblock %}
{% block css %}
    <!-- plugins:css -->
    <link rel="stylesheet" href="{{asset('back/assets/vendors/mdi/css/materialdesignicons.min.css')}}">
    <link rel="stylesheet" href="{{asset('back/assets/vendors/flag-icon-css/css/flag-icon.min.css')}}">
    <link rel="stylesheet" href="{{asset('back/assets/vendors/css/vendor.bundle.base.css')}}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{{asset('back/assets/vendors/font-awesome/css/font-awesome.min.css')}}" />
    <link rel="stylesheet" href="{{asset('back/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css')}}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{{asset('back/assets/css/style.css')}}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{{asset('back/assets/images/favicon.png')}}" />
    {% endblock %}
{% block body %}


       <div class="main-panel">
          <div class="content-wrapper">
             <div class="row">
             
              <div class="col-md-12">
                 <center> <h1>Bienvenue dans votre espace admin  </h1></center>
                   <center> <a><img src="{{asset('back/assets/images/l.png')}}"  ></a> </center>
                  </div>
                
                </div>
                  
</div>

{% endblock %}



 {% block js %}
    <script src="{{asset('back/assets/vendors/chart.js/Chart.min.js')}}"></script>
    <script src="{{asset('back/assets/vendors/jquery-circle-progress/js/circle-progress.min.js')}}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
   
    <script src="{{asset('back/assets/js/off-canvas.js')}}"></script>
    <script src="{{asset('back/assets/js/hoverable-collapse.js')}}"></script>
    <script src="{{asset('back/assets/js/misc.js')}}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{{asset('back/assets/js/dashboard.js')}}"></script>
      {% block index %}
    <section class="home py-5 d-flex align-items-center" id="header">
        <div class="container text-light py-5"  data-aos="fade-right"> 
            <h1 class="headline">Les meilleures <span class="home_text">Randonnées</span>Pour vous</h1>
            <p class="para para-light py-3">Hawes vise à encadrer les amoureux de la nature, leurs faire découvrir la beauté de notre pays, tout en préservant ces richesses bien fragiles et surtout apporter un plus aux communautés locales.</p>
           
        </div> <!-- end of container -->
    {% endblock %}{% endblock %}