{% extends 'base-back.html.twig' %}

{% block title %}Competition index{% endblock %}

{% block body %}
<div class="main-panel">
          <div class="content-wrapper">
   
            <div class="row">
              <div class="col-md-12">
                <div class="d-sm-flex justify-content-between align-items-center transaparent-tab-border {">
                  <ul class="nav nav-tabs tab-transparent" role="tablist">
                  
                    
                   
                    <li class="nav-item">
                      <a class="nav-link active"  href="{{ path('competition_new') }}" aria-selected="true">Create</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active"  href="{{ path('competition_index') }}" aria-selected="true">Afficher</a>
                    </li>
                  </ul>
                 
                  <div class="d-md-block d-none">
                    <a href="#" class="text-light p-1"><i class="mdi mdi-view-dashboard"></i></a>
                    <a href="#" class="text-light p-1"><i class="mdi mdi-dots-vertical"></i></a>
                  </div>
                </div>
                
                </div>  
    <h2>Competitions:</h2>

    <table class="responstable" 
>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom event</th>
                <th>Distance</th>
                <th>Date</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for competition in competitions %}
            <tr>
                <td>{{ competition.id }}</td>
                <td>{{ competition.Nom }}</td>
                <td>{{ competition.distance }}</td>
                <td> {{competition.date.format('d/m/Y')}}</td>
                <td>{{ competition.prix}}</td>
              



                <td>
                    <form method="post" action="{{ path('competition_delete', {'id': competition.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ competition.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>

                    <a href="{{ path('competition_edit', {'id': competition.id}) }}" class="btn btn-light" >edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
       
    </table>
 

    {% block index %}
    <section class="home py-5 d-flex align-items-center" id="header">
        <div class="container text-light py-5"  data-aos="fade-right"> 
            <h1 class="headline">Les meilleures <span class="home_text">Randonnées</span>Pour vous</h1>
            <p class="para para-light py-3">Hawes vise à encadrer les amoureux de la nature, leurs faire découvrir la beauté de notre pays, tout en préservant ces richesses bien fragiles et surtout apporter un plus aux communautés locales.</p>
           
        </div> <!-- end of container -->
{% endblock %}
{% block js %}
    <script src="{{ asset('back/assets/js/off-canvas.js')}}"></script>
    <script src="{{ asset('back/assets/js/hoverable-collapse.js')}}"></script>
    <script src="{{ asset('back/assets/js/misc.js')}}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{{ asset('back/assets/js/dashboard.js')}}"></script>
    
    {% endblock %}

{% endblock %}
