{% extends 'base-back.html.twig' %}

{% block title %}Formation index{% endblock %}

{% block body %}
    <h1>Formation index</h1>

    <table class="responstable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomeq</th>
                <th>Domaine</th>
                <th>Duree</th>
                <th>Nomform</th>
                <th>Plan</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td>{{ formation.id }}</td>
                <td>{{ formation.nomeq }}</td>
                <td>{{ formation.domaine }}</td>
                <td>{{ formation.duree }}</td>
                <td>{{ formation.nomform }}</td>
                <td>{{ formation.plan }}</td>
                <td>{{ formation.date }}</td>
                <td>
                    
                    <a href="{{ path('formation_edit', {'id': formation.id}) }}" class="btn btn-light">edit</a>
                    <a href="{{ path('formation_delete', {'id': formation.id}) }}" class="btn btn-danger">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
    <a href="{{ path('formation_new') }}" class="btn btn-success">New</a>
    </div>
{% endblock %}
