{% extends 'base-back.html.twig' %}

{% block title %}Lister{% endblock %}
 {% block css %}
    <!-- plugins:css -->
    <link rel="stylesheet" href="back/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="back/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="back/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="back/assets/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="back/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="back/assets/css/style.css">
    <link rel="shortcut icon" href="back/assets/images/favicon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
   



    {% endblock %}
    {%block image %}
                  <img src="back/assets/images/faces/Image1.png" alt="image">
              {%endblock%}
{% block body %}


 <div class="main-panel">
 
   
<div class="sidebar-search">
      <div class="input-group custom-search-form">
          <input type="text" id="search" class="form-control" placeholder="Rechercher...">
      </div>
      <!-- /input-group -->
  </div>
  <ul class="nav" id="side-menu">
      <li>
          <a <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level" id="entitiesNav">
          </ul>
      </li>
  </ul>



     
  <ul class="nav" id="side-menu">
      <li>
         
          <ul class="nav nav-second-level" id="entitiesNav">
          </ul>
      </li>
  </ul>

{% for message in app.flashes('notice') %}
   <center> <div class="alert alert-success"> 
                {{ message }}
            </div></center>
{% endfor %}



          <div class="content-wrapper">
   
            <div class="row">
              <div class="col-md-12">
                <div class="d-sm-flex justify-content-between align-items-center transaparent-tab-border {">
                  <ul class="nav nav-tabs tab-transparent" role="tablist">
                    <li class="nav-item">
                    <a class="nav-link "  href="{{path('ajouterRando')}}" aria-selected="true" > Ajouter </a>
                     
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active"  href="{{path('listerRando')}}" aria-selected="true">Afficher</a>
                    </li>
                   
                  </ul>
                 
                  <div class="d-md-block d-none">
                    <a href="#" class="text-light p-1"><i class="mdi mdi-view-dashboard"></i></a>
                    <a href="#" class="text-light p-1"><i class="mdi mdi-dots-vertical"></i></a>
                  </div>
                </div>
                
                </div>  
 
<table class="responstable" id="rowPub" >
  
  <tr>
    <th>Nom randonnee</th>
    <th>Destination</span></th>
    <th>Description</th>
    <th> Catégorie</th>
    <th>Date</th>
    <th>Duree</th>
    <th>Prix</th>
    <th>Note</th>
    <th>Action</th>
  </tr>
   
  {%for r in rando %}
    
  <tr>
    <td>  {{r.nomRando}} </td>
<td> {{r.destination}}  </td>
<td> {{r.description}}  </td>
<td> {{r.categorieRando}}  </td>
<td> {{r.dateRando|date('d-m-Y')}}  </td>
<td> {{r.dureeRando}}  </td>
<td> {{r.prix}}  </td>
<td> {{r.note}}  </td>
<td><a href="{{path('modifierRando',{'id':r.id})}}"  class="fa fa-edit" > </a>
<a href="{{path('supprimerRando',{'id':r.id})}}"  class="fa fa-trash" > </a>

<a href="{{path('listerpnr',{'id':r.id})}}"  class="fa fa-search" ></a> 
<a href="{{path('pdf',{'id':r.id})}}"  class="fa fa-file-pdf-o" ></a> </td>
  </tr>
  
  
  {% endfor %}
 
<div class="navigation d-block p-2 ">
         {% do rando.setPageRange(1) %} {# Le nombre de numero de page qui s'affiche sur une page #}
        {{ knp_pagination_render(rando, 'pagination/test.html.twig') }}
      </div> 
  
 
</table>    
</div>
           </div>          



  

{% endblock %}



{% block js %}
    <script src="back/assets/js/off-canvas.js"></script>
    <script src="back/assets/js/hoverable-collapse.js"></script>
    <script src="back/assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="back/assets/js/dashboard.js"></script>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
  


  

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 

<script type="text/javascript">
    jQuery(document).ready(function() {
        var searchRequest = null;
        $("#search").keyup(function() {
            var minlength = 3;
            var that = this;
            var value = $(this).val();
            var entitySelector = $("#entitiesNav").html('');
            if (value.length >= minlength ) {
                if (searchRequest != null)
                    searchRequest.abort();
                searchRequest = $.ajax({
                    type: "GET",
                    url: "{{ path('ajax_search') }}",
                    data: {
                        'q' : value
                    },
                    dataType: "text",
                    success: function(msg){
                        //we need to check if the value is the same
                        if (value==$(that).val()) {
                            var result = JSON.parse(msg);
                            $.each(result, function(key, arr) {
                                $.each(arr, function(id, value) {
                                    if (key == 'entities') {
                                        if (id != 'error') {
                                            entitySelector.append('<li><a>'+value+'</a></li>');
                                        } else {
                                            entitySelector.append('<li class="errorLi">'+value+'</li>');
                                        }
                                    }
                                });
                            });
                        }
                     }
                });
            }
        });
    });
</script>

    {% endblock %}