{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}

        <div class="field" tabindex="1">
        <td>{{form_label(form.Nom,"Nom")}}</td>
        <td>{{form_widget(form.Nom, {'attr': {'class': 'form-control form-control-lg'}})}}</td>
    <div class="text-danger">

 </div>
        </div>
        <div class="field" tabindex="2">
        <td>{{form_label(form.distance,"Distance")}}</td>
<td>{{form_widget(form.distance, {'attr': {'class': 'form-control form-control-lg'}})}}</td>
  <div class="text-danger">
<td>{{form_errors(form.distance)}}</td>
 </div>
    </div>
        <div class="field" tabindex="3">
<td>{{form_label(form.date,"Date")}}</td>
<td>{{form_widget(form.date)}}</td>
<div class="text-danger">
<td>{{form_errors(form.date)}}</td>
    </div>
  </div>
    <div class="field" tabindex="3">
<td>{{form_label(form.prix,"Prix")}}</td>
<td>{{form_widget(form.prix, {'attr': {'class': 'form-control form-control-lg'}})}}</td>
<div class="text-danger">
<td>{{form_errors(form.prix)}}</td>
</div>
    </div>
   
<br>
        <button class="btn btn-outline-success" type="submit">Ajouter</button>
    
    
   
{{ form_end(form) }}
