{% extends 'base-front.html.twig' %}

 
{% block css %}
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="../front/css/bootstrap.min.css" rel="stylesheet">
    <link href="../front/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="../front/css/aos.min.css" rel="stylesheet">
    <link href="../front/css/swiper.css" rel="stylesheet">
     <link href="../front/css/style.css" rel="stylesheet">
   
  

    <!-- Favicon -->
    <link rel="icon" href="../front/assets/images/.png">
    {% endblock  %}

     {% block menu %}
    <!-- Navigation -->
    <nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-dark" aria-label="Main navigation">
        <div class="container">

            <!-- Image Logo -->
            <!-- <a class="navbar-brand logo-image" href="index.html"><img src="../front/assets/images/logo.svg" alt="alternative"></a> -->

            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <a class="navbar-brand logo-text"  href={{path('addpub')}}>Hawes</a>

            <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault" >
                <ul class="navbar-nav ms-auto navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href={{path('addpub')}}>Home</a>
                    </li>
                      <li class="nav-item dropdown">
                       <a class="nav-link dropdown-toggle" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false" href="#">Forum</a>
                        
                      
                         <ul class="dropdown-menu" aria-labelledby="dropdown01">
                         
                             <li><a class="dropdown-item" href={{('addpub')}}>Ajouter une publication </a></li>
                            <li><div class="dropdown-divider"></div></li>
                            <li><a class="dropdown-item" href={{('listpub')}}> consulter le forum</a></li>
                            <li><div class="dropdown-divider"></div></li>
                            
                        </ul>
                        
                    </li>
                    
                
            </div> <!-- end of navbar-collapse -->
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->
                       
{% endblock  %}
{% block index %}


 <section class="home py-5 d-flex align-items-center" id="header">
        <div class="container text-light py-5"  data-aos="fade-right"> 
            <h1 class="headline">Les meilleures <span class="home_text">Randonnées</span><br>Pour vous</h1>
            <p class="para para-light py-3">Hawes vise à encadrer les amoureux de la nature, leurs faire découvrir la beauté de notre pays, tout en préservant ces richesses bien fragiles et surtout apporter un plus aux communautés locales.</p>
           
        </div> <!-- end of container -->
    </section> <!-- end of home -->
   <section class="plans d-flex align-items-center py-5" id="participer">
        <div class="container-fluid text-light">
            <div class="row">
                <div class="col-lg-6 d-flex justify-content-center justify-content-lg-end align-items-center px-lg-5" data-aos="fade-right">
                    <div style="width:90%">
                        <div class="text-center text-lg-start py-4 pt-lg-0">
                         <h2 class="py-2"> modifier votre Commentaire</h2>
                           
                           
                        </div>
                        <div>
                            
                                <div class="col-lg-6">
                                {{ form_start(formC,{'attr': {'novalidate': 'novalidate'}} ) }}
                                
                                    <div class="form-group py-2">
                                   <tr>
                                       <td>{{form_label(formC.contenu,"contenu")}}</td>
		                          <td>{{form_widget(formC.contenu)}}</td>
                                  <div class="text-danger">
                              <td>{{form_errors(formC.contenu)}}</td>
                               </div>  
                              </tr> 
                                    </div>   
                                                               
                                </div>
                            
                            
                          
                                         
                        </div>
                       <div class="btn form-control-submit-button">
                         <button type="submit">modifier </button>
                         </div> 

            
                     
                         {{form_end(formC)}} 
                    </div> <!-- end of div -->
               
                </div> <!-- end of col -->
             <div class="col-lg-6 d-flex align-items-center" data-aos="fade-down">
                    <img class="img-fluid d-none d-lg-block" src="../front/assets/images/contact.jpg" alt="contact">        
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </section> <!-- end of contact -->

{% endblock  %}
{% block footer  %}
    <!-- Bottom -->
    <div class="bottom py-2 text-light" >
        <div class="container d-flex justify-content-between">
            <div>
                <p>Equipe Alpha 2022</p><br>
               
            </div>
           
        </div> <!-- end of container -->
    </div> <!-- end of bottom -->
 {% endblock  %}

    {% block js %}
    <!-- Scripts -->
    <script src="../front/js/bootstrap.min.js"></script><!-- Bootstrap framework -->
    <script src="../front/js/purecounter.min.js"></script> <!-- Purecounter counter for statistics numbers -->
    <script src="../front/js/swiper.min.js"></script><!-- Swiper for image and text sliders -->
    <script src="../front/js/aos.js"></script><!-- AOS on Animation Scroll -->
    <script src="../front/js/script.js"></script>  <!-- Custom scripts -->
   
    {% endblock  %}
