<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Connect Plus{% endblock %}</title>
    {% block css %}
    <!-- plugins:css -->
    <link rel="stylesheet" href="../back/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../back/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../back/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="../back/assets/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../back/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../back/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../back/assets/images/favicon.png" />
    {% endblock %}
  </head>
 <body> 
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href={{path('publication')}}>Hawes</a>
       
          <a class="navbar-brand brand-logo-mini" href={{path('publication')}}><img src="back/assets/images/Image2.png" alt="logo" /></a>
          
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <ul class="navbar-nav navbar-nav-right">
            
            
           
             
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <div class="nav-profile-img">
               {%block image %}
                  <img src="back/assets/images/faces/image1.jpg" alt="image">
              {%endblock%}
                </div>
                <div class="nav-profile-text">
                  <p class="mb-1 text-black">khechine Eya</p>
                </div>
              </a>
              <div class="dropdown-menu navbar-dropdown dropdown-menu-right p-0 border-0 font-size-sm" aria-labelledby="profileDropdown" data-x-placement="bottom-end">
              
                <div class="p-3 text-center bg-primary">
                
                  <img class="img-avatar img-avatar48 img-avatar-thumb" src="back/assets/images/faces/image1.jpg" alt="">
                 
                </div>
               
            </li>
            
           
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
         
            
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
       
          <ul class="nav">
          
            <li class="nav-item nav-category">Main</li>
            <li class="nav-item">
              <a class="nav-link" href={{path('publication')}}>
                <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
                <span class="menu-title">Tableau de bord</span>
              </a>
           
           
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <span class="icon-bg"><i class="mdi mdi-lock menu-icon"></i></span>
                <span class="menu-title">Gestion</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                  
                   <li class="nav-item"> <a class="nav-link" href={{path('listpub')}}> Liste Publications </a></li>
                  <li class="nav-item"> <a class="nav-link" href="">Compétitions</a></li>
                  <li class="nav-item"> <a class="nav-link" href=""> Cadeaux </a></li>
                   <li class="nav-item"> <a class="nav-link" href="">Publications</a></li>
                    <li class="nav-item"> <a class="nav-link" href="">Catégories</a></li>
                     <li class="nav-item"> <a class="nav-link" href="">Plats</a></li>
                      <li class="nav-item"> <a class="nav-link" href="">Formations</a></li>
                       <li class="nav-item"> <a class="nav-link" href="">Documents</a></li>
                 
                 
                </ul>
              </div>
            </li>
          
            <li class="nav-item sidebar-user-actions">
              <div class="sidebar-user-menu">
                <a href="#" class="nav-link"><i class="mdi mdi-settings menu-icon"></i>
                  <span class="menu-title">Paramètres</span>
                </a>
              </div>
            </li>
            <li class="nav-item sidebar-user-actions">
              <div class="sidebar-user-menu">
                <a href={{path('publication')}} class="nav-link"><i class="mdi mdi-speedometer menu-icon"></i>
                  <span class="menu-title"  href={{path('publication')}} >Visiter le site</span></a>
              </div>
            </li>
            <li class="nav-item sidebar-user-actions">
              <div class="sidebar-user-menu">
                <a href="#" class="nav-link"><i class="mdi mdi-logout menu-icon"></i>
                  <span class="menu-title">Déconnecter</span></a>
              </div>
            </li>
          </ul>
        </nav>







        {% block body %}






        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
           
            
            <div class="row">
              <div class="col-md-12">
                <div class="d-sm-flex justify-content-between align-items-center transaparent-tab-border {">
                  <ul class="nav nav-tabs tab-transparent" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link" id="home-tab" data-toggle="tab" href={{path('addpub')}} role="tab" aria-selected="true">Ajouter</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" id="business-tab" data-toggle="tab" href={{path('listpub')}} role="tab" aria-selected="false">Afficher</a>
                    </li>
                   
                  </ul>
                  <div class="d-md-block d-none">
                    <a href="#" class="text-light p-1"><i class="mdi mdi-view-dashboard"></i></a>
                    <a href="#" class="text-light p-1"><i class="mdi mdi-dots-vertical"></i></a>
                  </div>
                </div>
                
                </div>  
          </div>
           </div>



          {% endblock  %}



 
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="footer-inner-wraper">
              <div class="d-sm-flex justify-content-center justify-content-sm-between">
                <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Equipe Alpha 2022</span>
              
              </div>
            </div>
          </footer>
          
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../back/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
     {% block js %}
    <script src="../back/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="../back/assets/vendors/jquery-circle-progress/js/circle-progress.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
   
    <script src="../back/assets/js/off-canvas.js"></script>
    <script src="../back/assets/js/hoverable-collapse.js"></script>
    <script src="../back/assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="../back/assets/js/dashboard.js"></script>
    {% endblock %}
    <!-- End custom js for this page -->
  </body>
</html>