{% extends 'base-back.html.twig' %}

{% block title %}Document index{% endblock %}

{% block body %}
    <h1>Document index</h1>

    <table class="responstable">
        <thead>
            <tr>
                <th>ID de document</th>
                <th>Type de document</th>
                <th>Nombre depage</th>
                <th>Lien de document</th>
                <th>id formation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td>{{ document.id }}</td>
                <td>{{ document.typedoc }}</td>
                <td>{{ document.nombrepage }}</td>
                <td>{{ document.liendoc }}</td>
                 <td>{{ document.getIdFormation() }}</td>
                <td>
                
                   <a href="{{ path('document_edit', {'id': document.id}) }}"  class="btn btn-light" >edit</a>
                    <a href="{{ path('document_delete', {'id': document.id}) }}" class="btn btn-danger">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
    <a href="{{ path('document_new') }}" class="btn btn-success">New</a>
    </div>
{% endblock %}
