{% extends 'base-back.html.twig' %}

{% block title %}Document{% endblock %}

{% block body %}
    <h1>Document</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id de document</th>
                <td>{{ document.id }}</td>
            </tr>
            <tr>
                <th>Type de document</th>
                <td>{{ document.typedoc }}</td>
            </tr>
            <tr>
                <th>Nombre de page</th>
                <td>{{ document.nombrepage }}</td>
            </tr>
            <tr>
                <th>Lien de document</th>
                <td>{{ document.liendoc }}</td>
            </tr>
            <tr>
                <th>Lien de document</th>
                <td>{{ document.getIdFormation() }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('document_index') }}">back to list</a>

    <a href="{{ path('document_edit', {'id': document.id}) }}">edit</a>

    {{ include('document/_delete_form.html.twig') }}
{% endblock %}
